<!DOCTYPE html>
<head>

    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,400;1,300&family=Unbounded:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="">link 1</a>
        <a href="">link 2</a>
        <a href="">link 3</a>
    </header>
    <div class="topimage">
        <div class="helloDiv" style="padding-top: 50px;">
            <h1 style="color: white; margin-left: 160px;">Добро пожаловать на сайт "Название"</h1>
            <h3 style="color: white; width: 500px; margin-left: 450px;" >Нужна помощь с релокацией или поиском места для переезда ? Вам сюда !</h3>
            <button style="margin-left: 600px;">Найти страну</button>
        </div>
    </div>

    <main>
    <h1 class="mainH1"> Лоре ipsum dolor sit amet. </h1>
    <h3 class="mainH3" style="display: inline-block;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sequi quaerat deserunt debitis, soluta dignissimos ea ut molestiae neque. Culpa, voluptates? Nihil quasi laborum consequuntur rerum illum voluptatibus beatae pariatur..</h3>

    <video src="video/video.mp4" style="display: inline-block; margin-left: 100px;"></video>
    <br>
    <h1 class="mainH1Two" style="margin-left: 400px; margin-top: 100px;">Помощь с переездом.</h1>
    <h6 class="mainH6" style="margin-left: 520px;">У нас есть 3 основных области работы , это :</h6>
    <img src="images/divercity.svg" alt="" class="icon" style="margin-left: 300px;">
    <img src="images/gavel.svg" alt="" class="icon">
    <img src="images/travel.svg" alt="" class="icon">
    <br>
    <span class="mainSpan" style="font-size: xx-small; margin-left: 200px;">Поиск работы на новом месте</span>
    <span class="mainSpan" style="font-size: xx-small;">Помощь с оформлением документов</span>
    <span class="mainSpan" style="font-size: xx-small;">Поиск места для переезда</span>
    <br>
    <hr>
    <div class="secondBlock" style="background-color: rgb(208, 233, 255); padding-top: 15px; margin-top: 50px;">
        <h1 class="mainH1Three" style="color: black; margin-left: 400px;">Наши специалисты. </h1>
        <h6 class="mainH6Two" style="margin-left: 550px;">В нашем штате сотрудников состоят опытные юристы и риэторы. </h6>
            <div class="mainCard" style="margin-left: 200px; margin-bottom: 30px;">
                <img src="images/man2.jpg" alt="" style="height: 240px; width: 180px; margin-left: 40px;">
                <p style="font-size: xx-small; margin-left: 70px;">Арсений Королев</p>
                <p style="font-size: xx-small; margin-left: 100px;">Юрист</p>
            </div> 
            <div class="mainCard">
                <img src="images/man1.jpg" alt="" style="height: 240px; width: 160px; margin-left: 50px;">
                <p style="font-size: xx-small; margin-left: 70px;">Леонид Иванов</p>
                <p style="font-size: xx-small; margin-left: 100px;">Юрист</p>
            </div>
            <div class="mainCard">
                <img src="images/woman.jpg" alt="" style="height: 240px; width: 160px; margin-left: 50px;">
                <p style="font-size: xx-small; margin-left: 50px;">Ермакова София</p>
                <p style="font-size: xx-small; margin-left: 100px;">Юрист</p>
            </div>
            <br>
    </div>
    <h1 class="mainH1Four">Пакеты услуг.</h1>
    <h6 class="mainH6Three">Покупая пакет услуг вы сможете получить помощь сразу во всем : от покупки квартиры за вас до полноценного пакета для проживания.</h6>
    <div class="mainCard">               
        <img src="images/paket.jpg" alt="" style="height: 240px; width: 160px; margin-left: 200px;">
        <p style="font-size: xx-small; margin-left: 50px; margin-left: 70px;">ВНЖ</p>
        <p style="font-size: xx-small; margin-left: 100px;">5999р</p></div>
    <div class="mainCard">
        <img src="images/paket.jpg" alt="" style="height: 240px; width: 160px; margin-left: 150px;">
        <p style="font-size: xx-small; margin-left: 50px; margin-left: 90px">Квартира</p>
        <p style="font-size: xx-small; margin-left: 100px;">14999р</p></div>
    </div>
    <div class="mainCard">
        <img src="images/paket.jpg" alt="" style="height: 240px; width: 160px; margin-left: 100px;">
        <p style="font-size: xx-small; margin-left: 50px; margin-left: 100px">ПМЖ</p>
        <p style="font-size: xx-small; margin-left: 100px;">9999р</p></div>
    </div>
    <div class="mainCard">
        <img src="images/paket.jpg" alt="" style="height: 240px; width: 160px; margin-left: 200px;">
        <p style="font-size: xx-small; margin-left: 50px; margin-left: 90px;">Документы</p>
        <p style="font-size: xx-small; margin-left: 100px;">19999р</p></div>
    </div>
    <div class="mainCard">
        <img src="images/paket.jpg" alt="" style="height: 240px; width: 160px; margin-left: 100px;">
        <p style="font-size: xx-small; margin-left: 50px; margin-left: 100px;">Документы MAX</p>
        <p style="font-size: xx-small; margin-left: 100px;">24999р</p></div>
    </div>
    <div class="mainCard">
        <img src="images/paket.jpg" alt="" style="height: 240px; width: 160px; margin-left: 100px;">
        <p style="font-size: xx-small; margin-left: 90px;">Переезд</p>
        <p style="font-size: xx-small; margin-left: 100px;">49999</p></div>
    </div>
    <br>
    <h1 class="mainH1Five" style="margin-left: 500px;">Наши офисы.</h1>
    <h6 class="mainH6Three">У нас офисы находятся в 25 странах мира. В их число входят : Франция , Германия , США , Великобритания и Польша.</h6>
    <div class="mainCard" style="background-color: aliceblue; padding-left: 50px; padding-top: 30px;">
    <img src="images/warshaw.jpg" alt="" style="height: 200px; width: 200px; ">

    </div>
    <div class="mainCard"></div>
    <div class="mainCard"></div>
    <footer></footer>
</main>

</body>